<div class="container text-center">
    <img src="../../assets/chatbot.png" alt="" >
</div>
<div class="container d-flex justify-content-center">
    <div class="chat-container">
        
        <div class="chat-body">            
            <div *ngFor="let message of chatConversation.messages" class="message"
                [ngClass]="{'received': message.role === 'assistant', 'sent': message.role === 'user'}">
                <img *ngIf="message.role === 'assistant'" src="../../assets/chatbot2.jpg" class="rounded-circle me-2" width="40" alt="">
                    <img *ngIf="message.role === 'user'" src="../../assets/user.png" class="rounded-circle me-2" width="30" alt="">
                <p> 
                    {{ message.content }}
                </p>
            </div>
        </div>
        <div class="chat-footer d-flex justify-content-between mt-2">
            <input class="form-control w-100" type="text" [(ngModel)]="userInput" name="userMessage" placeholder="Enter your message" >
            <button class="ms-2 btn btn-primary" type="submit" (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
        </div>        
    </div>
</div>